.AuthForm {
	width: 100%;
  display: flex;
  justify-content: center;
	.content {
		max-width: 382px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px;
		border-radius: 10px;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		.content_title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 32px;

			h2 {
			}
			p {
				margin-top: 10px;
				color: #808080a6;
				font-size: 14px;
				font-weight: 300;
			}
		}
		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
