.Modal {
	position: fixed;
	top: 0px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.529);
	backdrop-filter: blur(3px);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.modalContent {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		background-color: white;
		height: 300px;
		border-radius: 10px;
		padding: 20px;
		.close {
			position: absolute;
			top: 10px;
			right: 5px;
			background-color: transparent;
			cursor: pointer;
			border: none;
			outline: none;
		}
	}
}
