.box_input {
	border: 1px solid #e7e3e4;
	border-radius: 20px;
	padding: 4px 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: white;
	width: 100%;
	&:focus-within {
		outline: 1px solid black;
	}

	svg {
		color: gray;
		margin-left: 5px;
	}
	.input {
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 16px;
		font-weight: 400;
		color: rgb(48, 48, 48);
		padding: 2px 8px;
		width: 100%;
		&::placeholder {
			font-size: 16px;
			font-weight: 300;
			color: rgb(160, 160, 160);
		}
	}
}

.inputs {
	border: 0.5px solid transparent;
	outline-color: black;
	font-family: sans-serif;
	outline-width: 1px;
	padding: 10px 16px;
	padding-right: 38px;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 400;
	color: #303030;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	&::placeholder {
		font-family: sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #a0a0a0;
	}

}
