.Header {
	position: sticky;
	top: 0;
	background-color: #ffffff91;
	backdrop-filter: blur(10px);
	border-bottom: 0.5px solid #b3b3b346;
	z-index: 999;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0px;

		.left_content {
			display: flex;
			align-items: center;
			flex: 2;
			.logo {
				display: flex;
				align-items: center;
				gap: 3px;

				.logo_icon {
					background-color: black;
					width: 20px;
					height: 20px;
					border-radius: 100%;
				}
				p {
					margin-top: 2px;
					font-size: 18px;
					font-weight: 600;
					margin-left: 5px;
				}
			}
		}
		.right_content {
			display: flex;
			align-items: center;
			justify-content: end;
			flex: 2;
			.search {
				margin-right: 20px;
				max-width: 280px;
				width: 100%;
			}
			.btns {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 4px;
				max-width: 220px;
				width: 100%;

				.icon {
					svg {
					}
					button {
						background-color: transparent;
						border: none;
						outline: none;
						padding: 3px 2px;
					}
				}
				.button {
					max-width: 120px;
					width: 100%;
				}
				.profile {
					display: flex;
					align-items: center;
					border-left: 1px solid #b7b6b6;
					gap: 5px;
					.userData {
						display: flex;
						flex-direction: column;
						margin-left: 5px;
						gap: 4px;
						p {
							font-size: small;
							&:last-child {
								font-size: xx-small;
								color: #5a5959;
							}
						}
					}
					button {
						border: none;
						outline: none;
						padding: 4px 8px;
						background-color: transparent;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	h1 {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
	}
	.btns {
		display: flex;
		gap: 20px;
	}
}
