.Home {
	margin-top: 50px;
	.content {
		.content_title {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 50px;
			gap: 5px;

			h1 {
				font-size: 2.25rem;
				font-family: 'Saira', sans-serif;
				text-align: center;
				max-width: 600px;
				width: 100%;
			}
			p {
				color: #80808097;
				font-weight: 400;
				text-align: center;
				max-width: 600px;
				width: 100%;
			}
		}
	}
}
