.Product {

	width: 100%;
	padding: 8px;
	.cart {
		display: flex;
		flex-direction: column;
		.img_cart {
			width: 100%;
			background-color: whitesmoke;

			img {
				width: 100%;
				transition: 0.2s;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
		.decs_cart {
			padding-top: 16px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			h2 {
				font-size: 16px;
			}
			p {
				font-size: 14px;
				color: #71717b;
				font-weight: 300;
				margin-top: 4px;
			}
			h4 {
				font-size: 14px;
				font-weight: 600;
				margin-top: 4px;
			}
		}
	}
}
