@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: black;
}

* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1340px;
	width: 100%;
	padding: 0px 20px;
	margin-inline: auto;
}

a {
	text-decoration: none;
}

ul,
ol {
	padding: 0;
}
li {
	list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
